@import url("styles/header.css");

html{
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --cor-de-fundo: #b0c5ee;
    --azul: #295176;
    --laranja: #EB9B00;
    --branco: #ffffff; 

    margin: 0;
    padding: 0;
    border: 0;

}

body {
    background-image: url("img/background.png");
    
    margin: 0;
    padding: 0;
    border: 0;
}
