html{
    margin: 0;
    padding: 0;
    
}
.cabeçalho__menu-astronomia {
    width: 25px;
    height: 25px;
    background-image: url("../img/Menu.png");
    background-repeat: no-repeat;
    display: inline-block;
}

.cabeçalho{
    background-color:var(--azul);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    font-weight: 500;
    
    padding: 0;
    top: 80px;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--azul);
}
.lista-menu__titulo{
    color: var(--laranja)
}
.lista-menu__link{
    color: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparents;
    text-transform: uppercase;
    background-clip: text;
}
li{
    list-style-type: none;
}
#menu{
    all: unset;
}
.container__botao{
    display: none;
}

.banner{
width: 100vw;
display: flex;
justify-content: center;
}

.banner__titulo{
    border: 5rem 0;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 75vw;
    padding: 2rem;
    background-color: #1e1e1e;
    border-radius: 25px;
    align-items: center;
    color: white;
}

.banner__titulo img{
    width: 255px;
    height: 181px;
}